<div class="admin-carousel container-fluid">
  <div class="panel panel-primary editor">
    <div class="panel-heading">
      <h3 class="panel-title">Carousel Editor</h3>
    </div>
    <div class="panel-body">
      <form class="form" role="form" accept-charset="UTF-8" id="frmAdminCaoursel">
        <div class="row" >
          <div class="col-xs-12 col-sm-6 col-md-4">
            <input type="text" name="title" [(ngModel)]="selectedCarousel.title" placeholder="Title" title="Title" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <input type="text" name="subTitle" [(ngModel)]="selectedCarousel.subTitle" placeholder="Sub Title" title="Sub Title" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <input type="text" name="Desktop" [(ngModel)]="selectedCarousel.url.Desktop" placeholder="Desktop Url" title="Desktop Url"
            />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <input type="text" name="Tablet" [(ngModel)]="selectedCarousel.url.Tablet" placeholder="Tablet Url" title="Tablet Url" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <input type="text" name="Mobile" [(ngModel)]="selectedCarousel.url.Mobile" placeholder="Mobile Url" title="Mobile Url" />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <input type="text" name="alt" [(ngModel)]="selectedCarousel.alt" placeholder="Alt text" title="Alt text" />
          </div>
        </div>
      </form>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" (click)="addCarousel()">Add</button>
      <button class="btn btn-primary" (click)="updateCarousel()">Update</button>
    </div>
  </div>

  <div class="panel panel-primary list">
    <div class="panel-heading">
      <h3 class="panel-title">List of Carousel ({{carousels.length}})</h3>
    </div>
    <div class="panel-body">
      <div class="row hidden-xs header">
        <div class="col-sm-2">Title</div>
        <div class="col-sm-2">Sub Title</div>
        <div class="col-sm-2">Desktop</div>
        <div class="col-sm-2">Tablet</div>
        <div class="col-sm-2">Mobile</div>
        <div class="col-sm-2 text-right">Actions</div>
      </div>
      <div *ngFor="let item of carousels | orderBy:['-title','subTitle']" class="row">
        <div class="col-xs-4 hidden-sm hidden-md hidden-lg header caption">Title</div>
        <div class="col-xs-6 col-sm-2">{{item.title}}</div>
        <div class="col-xs-2 hidden-sm hidden-md hidden-lg controls">
          <i class="glyphicon glyphicon-edit" title="Edit" (click)="edit(item)"></i>
          <i class="glyphicon glyphicon-remove" title="Delete" (click)="delete(item)"></i>
        </div>
        <div class="col-xs-4 hidden-sm hidden-md hidden-lg header caption">Sub Title</div>
        <div class="col-xs-8 col-sm-2">{{item.subTitle}}</div>
        <div class="col-xs-4 hidden-sm hidden-md hidden-lg header caption">Desktop</div>
        <div class="col-xs-8 col-sm-2">{{item.url.Desktop}}</div>
        <div class="col-xs-4 hidden-sm hidden-md hidden-lg header caption">Tablet</div>
        <div class="col-xs-8 col-sm-2">{{item.url.Tablet}}</div>
        <div class="col-xs-4 hidden-sm hidden-md hidden-lg header caption">Mobile</div>
        <div class="col-xs-8 col-sm-2">{{item.url.Mobile}}</div>
        <div class="col-sm-2 hidden-xs text-right">
          <i class="glyphicon glyphicon-edit" title="Edit" (click)="edit(item)"></i>
          <i class="glyphicon glyphicon-remove" title="Delete" (click)="delete(item)"></i>
        </div>
      </div>
    </div>
  </div>

</div>