@import "../../styles.scss";

.navbar {
    margin-bottom: 0px;
    border: 0;

    @include gradient(#d5cea6, #002400, "vertical");

    // .navbar-default  .icon-bar
    .navbar-toggle {
        border-color: transparent;

        .icon-bar {
            background-color: red;
        }

        &:hover {
            // background-color: transparent;

            .icon-bar {
                background-color: yellow;
            }
        }
    }

    .navbar-brand {
        img {
            max-width: 85px;
            margin-top: -7px;
        }
    }

}



@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}
