@import "../../styles.scss";

.navbar {
    margin-bottom: 0px;
    border: 0;

    @include gradient(white, blue, "horizontal");

    // .navbar-default  .icon-bar
    .navbar-toggle {
        border-color: transparent;

        .icon-bar {
            background-color: red;
        }

        &:hover {
            // background-color: transparent;

            .icon-bar {
                background-color: yellow;
            }
        }
    }

    .navbar-brand {
        img {
            max-width: 85px;
            margin-top: -7px;
        }
    }

    #login-dp {
        min-width: 250px;
        padding: 14px 14px 0;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.8);
    
        .help-block {
            font-size: 12px;
        }
    
        .bottom {
            background-color: rgba(255, 255, 255, 0.8);
            border-top: 1px solid #ddd;
            clear: both;
            padding: 14px;
        }
    
        .social-buttons {
            margin: 12px 0 a {
                width: 49%;
            };
        }
    
        .form-group {
            margin-bottom: 10px;
        }
    
        .btn-fb {
            color: #fff;
            background-color: #3b5998;
    
            &:hover {
                color: #fff;
                background-color: #496ebc;
            }
        }
    
        .btn-tw {
            color: #fff;
            background-color: #55acee;
    
            &:hover {
                color: #fff;
                background-color: #59b5fa;
            }
        }
    }
}



@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}
